body {

}

.header_top {
  height: 70px;
  background-color: red;
}
.menu_header ul li {
  display: inline;
}

.jumbo {
  height: 500px;
  background-color: green;
}

#logos {
  height: 270px;
  background-color: grey;
}

#skills {
  height: 700px;
  background-color: yellow;
}
