body {
  color: #031B4E;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 52px;
  font-weight: 600;
}
h2 {
  font-size: 35px;
  font-weight: 600;
}
h3 {
  font-size: 30px;
  font-weight: 600;
}
p {
  font-size: 24px;
  color: #5C6B8D;
}

.wrapper_80 {
  width: 80%;
  margin: 0 auto;
}
.wrapper_50 {
  width: 50%;
  margin: 0 auto;
}

a:focus,
a:active,
a:hover {
  text-decoration: none;
}

.text_white {
  color: white;
}
.text_blue {
  color: #2285FD;
}

.box_white {
  background-color: #fff;
  border-radius: 5px;
  padding:20px;
}
.back_grey {
  background-color: #F3F5F9;
}

.title_section h2 {
  margin-top: 60px;
}
.title_section p {
  font-size: 20px;
  padding-bottom: 50px;
}

/* SLIDER */
.container_slider {
  width: 70%;
  margin: 0 auto;
}
.glyphicon.glyphicon-chevron-left {
  position: absolute;
  top:50%;
  left: 19%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #6F7A97;
}
.glyphicon.glyphicon-chevron-right {
  position: absolute;
  top:50%;
  right: 19%;
  transform: translateY(-50%);
  font-size: 30px;
  color: #031C4E;
}

/* ==================HEADER_TOP==================== */
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
}

.logo img {
  width: 160px;
  transform: translateY(-4px);
}

.menu_header ul {
  padding-left: 0;
}
.menu_header ul li {
  display: inline;
  margin-right: 15px;
}
.menu_header ul li:last-child {
  margin-right: 0;
}
.menu_header ul li a {
  color: black;
}
.menu_header ul li a:hover {
  color: #2285FD;
}

.glyphicon.glyphicon-menu-down {
  font-size: 12px;
}

.menu_header ul li.btn_blue a {
  border: 1px solid #2285FD;
  color: #2285FD;
}
.menu_header ul li.btn_blue a:hover {
  background-color: #2285FD;
  color: #fff;
}

.glyphicon.glyphicon-menu-hamburger {
  font-size: 18px;
  color: #2285FD;
}

/* ==================JUMBO==================== */
.jumbo {
  margin-top: 60px;
  background-image: url(../img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbo h1 {
  padding-top: 40px;
}
.jumbo p {
  padding-bottom: 40px;
  color: #BBCCFF;
}
.jumbo .box_white {
  margin-top: 50px;
  margin-bottom: 60px;
}

.box_form h3 {
  padding-top: 10px;
}
.box_form .text_blue {
  padding: 0;
  margin-top: 10px;
}
.form-group {
  margin-bottom: 5px;
}
.form_account .col-sm-10 {
  width: 100%;
}
.form_account .col-sm-10 ::placeholder {
  color: #757575;
}

.btn_blue {
  width: 100%;
  background-color: #2285FD;
  margin-bottom: 7px;
  margin-top: 5px;
}
.btn_blue a {
  font-size: 16px;
  color: #fff;
}
.btn_blue:hover {
  background-color: #1633ff;
}

.btn_google {
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 2px #E3E3E3;
  margin-bottom: 15px;
}
.btn_google img {
  width: 20px;
}
.btn_google div {
  position: absolute;
  display: inline-block;
  left: 0;
  margin-left: 10px;
}
#text_btn_google {
  font-size: 16px;
  color: #4C4C4C;
  padding: 0;
  margin: 0;
}

.btn_google:hover,
.btn_google:active,
.btn_google:focus {
  background-color: #d5e4f7;
}

.box_form p {
  font-size: 14px;
  padding-bottom: 20px;
  color: #031C4E;
}
/* ==================LOGOS==================== */

#logos h5 {
  color: #5C6B8D;
  margin-top: 45px;
  margin-bottom: 20px;
}
#logos img {
  width: 100%;
}
.col_logos {
  height: 100px;
  line-height: 100px;
}
#gitlab {
  transform: translateY(-10%);
}
#logos .btn {
  padding-bottom: 20px;
  font-weight: 500;
}
#logos .btn a:hover,
#logos .btn a:active,
#logos .btn a:focus {
  text-decoration: none;
  color: #005fe6;
}
.btn span {
  font-size: 14px;
  margin-left: 5px;
}


/* ==================SKILLS==================== */

#skills ul li {
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-left: 2px solid #C4C4C4;
  border-radius: 0px;
}
#skills ul li a {
  color: #5C6B8D;
  font-size: 16px;
}
#skills ul li a:hover {
  color: #031B4E;
}

.col_grid h4 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
}
.col_grid p {
  font-size: 16px;
  margin-bottom: 30px;
}
.col_grid p.grid_p_bottom {
  margin-bottom: 60px;
}
p.grid_p_top {
  margin-bottom: 52px;
}

/* ==================SLIDER-1==================== */
#slider_1 .title_section p {
  padding-top: 20px;
}
.img_slider {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.img_slider img {
  width: 100%;
}
#slider_1 .glyphicon.glyphicon-chevron-left {
  left: 22%;
}
#slider_1 .glyphicon.glyphicon-chevron-right {
  right: 22%;
}

.p_under_slider p {
  font-size: 16px;
  color: #031C4E;
  margin-bottom: 5px;
}

.ball_under_slider {
  display: inline-block;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border: 1px solid #006AFF;
  border-radius: 50%;
  font-size: 20px;
  margin: 1px;
  margin-bottom: 40px;
}
.ball_under_slider:first-child {
  background-color: #006AFF;
}

/* ==================FEATURES==================== */
#features .title_section {
  margin-bottom: 30px;
}
#features h4 {
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#features p {
  font-size: 16px;
}
#features .row:last-child {
  margin-bottom: 70px;
}
#features .btn {
  padding-left: 0;
  font-size: 16px;
}
#features span {
  font-size: 16px;
}
#features .btn:hover {
  color: #005fe6;
}

/* ==================SPEED-TEST==================== */
#speed_test {
  background: linear-gradient(0deg, rgba(0,31,154,1) 0%, rgba(0,71,197,1) 100%);
}

#speed_test .title_section {
  color: #fff;
}
.cities {
  position: relative;
  width: 100;
  height: 40px;
  padding: 10px 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.cities:last-child {
  border-bottom: 0px;
  margin-bottom: 50px;
}

.cities_code {
  position: absolute;
  left: 15px;
  text-transform: uppercase;
}

.name_cities {
  position: absolute;
  left: 110px;
}

.link_speed {
  position: absolute;
  right: 15px;
}
.link_speed a {
  color: #00CECF;
}
.link_speed span {
  margin-left: 5px;
}
.link_speed a:hover {
  color: #005fe6;
}

/* ==================SLIDER-1==================== */

#slider_2 .title_section h2 {
  margin-bottom: 70px;
}

.container_slider div {
  position: relative;
  display: inline-block;
}
#slider_2 .box_white {
  width: 80%;
  margin: 0 auto;
}

#slider_2 .box_white img {
  margin-top: 40px;
  margin-bottom: 20px;
}
#slider_2 .box_white p {
  font-size: 20px;
}

p.name_cit {
  font-size: 16px;
  color: #000000;
  margin-bottom: 30px;
}

.box_white a {
  font-size: 16px;
  margin-bottom: 50px;
}

#slider_2 .ball_under_slider {
  margin-top: 30px;
}




#account {
  height: 200px;
  background-color: red;
}

.footer {
  height: 300px;
  background-color: blue;
}
.footer div {
  height: 100px;
  border: 2px solid black;
}

/* ==================MEDIAQUERY==================== */

          /* =========== M D ============= */
 @media screen and (max-width: 991px) {

  /* JUMBO */
  .jumbo .box_white {
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .box_form h3 {
    padding-top: 0px;
    font-size: 30px;
  }

/* LOGOS */
  #gitlab {
    transform: translateY(0%);
  }
  #logos h5 {
    font-size: 20px;
    margin-top: 80px;
    margin-bottom: 0px;
  }
  #logos a {
    font-size: 18px;
  }

  /* SKILLS */
  p.grid_p_top {
    margin-bottom: 73px;
  }
}

          /* =========== X S ============= */
 @media screen and (max-width: 767px) {
  h2 {
    font-size: 40px;
  }

/*JUMBO*/
  .jumbo .col-xs-12:last-child {
    margin-top: 0;
    margin-bottom: 80px;
  }
  .jumbo p {
    padding-bottom: 5px;
  }

/* LOGOS */
  #logos h5 {
    font-size: 20px;
  }
  #logos img {
    width: 70%;
  }
  .col_logos {
    height: 150px;
    line-height: normal;
    margin-top: 50px;
  }
  #gitlab {
    transform: translateY(-15%);
  }
  #hashcorp {
    transform: translateY(10%);
  }
  #splunk {
    transform: translateY(30%);
  }

/* SKILLS */
  #skills .wrapper_80 {
    width: 100%;
  }

  .col_grid p {
    margin-bottom: 10px;
  }
  .col_grid p.grid_p_bottom {
    margin-bottom: 10px;
  }
  .first_xs_row {
    padding-top: 20px;
  }
  .last_xs_row {
    padding-bottom: 50px;
  }

  /* SLIDER_1 */
  #slider_1 .wrapper_80 {
    width: 100%;
  }
  .p_under_slider p {
    font-size: 18px;
    margin-bottom: 70px;
  }
  #slider_1 .title_section p {
    margin-bottom: 80px;
  }
  .img_slider:after {
    content: "";
  }
  .img_slider:before {
    content: "";
  }

  /* FEATURES  */
  #features img {
    padding-top: 20px;
  }

}
